.menu-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.fundo-c {
    height: 1200px;
    width: 1200px;
    background-color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}