.div1 {
    min-height: 600px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #aaa;
  }
  
  .container-div1 {
    display: flex;
    align-items: center;
    padding: 80px;
  }
  
  .logo-div {
    height: 100px;
    margin-right: 15px;
  }
  
  .name-div {
    height: 60px;
    margin-left: 15px;
  }
  
  .text1 {
    color: #941344;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
  }
  
  .text2 {
    color: #941344;
    font-size: 32px;
    padding: 10px;
    text-align: center;
  }
  
  .bullets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px
  }

  .square {
    background-color: #941344;
    height: 150px;
    width: 250px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
  }

  .square p {
    margin: auto;
    text-align: center;
  }
  
  .div2 {
    min-height: 500px;
    background-color: #ffc509;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title-div2 {
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    color: #000;
  }
  
  .features-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    width: 1000px;
    text-align: center;
    color: #000;
  }
  
  .title {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }
  
  .text {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .div3 {
    height: 400px;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .subtitle-div3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
  }
  
  .subtitle-div31 {
    font-size: 24px;
    margin-bottom: 25px;
    color: black;
  }
  
  .evento {
    text-align: center;
  }
  
  .patrocinadores {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  
  .lumx {
    height: 100px;
  }
  
  .sponsor {
    height: 50px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .div4 {
    height: 350px;
    background-color: #941344;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title-div4 {
    color: white;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .membro {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .membros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .nome-membro {
    color: white;
    padding: 10px;
    font-size: 22px;
    align-items: center;
  }
  
  .funcao-membro {
    color: white;
    font-size: 17px;
    align-items: center;
  }