.menu-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.to-be-announced {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    color: #000;
    font-size: 40px;
}