.menu-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dash {
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.dash p{
    color: #000
}